﻿@model WebApp.Models.Vehicle
 <!-- 输出form表单界面 -->
<fieldset>
    <div class="row">
        	    			<section class="col col-4">
           <label class="label">@Html.DisplayNameFor(model => model.Id) </label>
           <label class="input">
            <input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   placeholder="@Html.DisplayNameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   type="text" 
                   />
                 <b class="tooltip tooltip-bottom-right">系统编号</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.OrderNo) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.OrderNo)" 
				   name="@Html.NameFor(model => model.OrderNo)" 
                   placeholder="@Html.DisplayNameFor(model => model.OrderNo)" 
				   value="@Html.ValueFor(model => model.OrderNo)"
				   tabindex="1" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">派车单号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.ExternalNo) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.ExternalNo)" 
				   name="@Html.NameFor(model => model.ExternalNo)" 
                   placeholder="@Html.DisplayNameFor(model => model.ExternalNo)" 
				   value="@Html.ValueFor(model => model.ExternalNo)"
				   tabindex="2" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">对账单号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.UsingDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.UsingDate)" 
			       name="@Html.NameFor(model => model.UsingDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.UsingDate)" 
				   tabindex="3" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.UsingDate)"
				    />
             <b class="tooltip tooltip-bottom-right">派车时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Location1) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Location1)" 
				   name="@Html.NameFor(model => model.Location1)" 
                   placeholder="@Html.DisplayNameFor(model => model.Location1)" 
				   value="@Html.ValueFor(model => model.Location1)"
				   tabindex="4" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">起点</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Location2) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Location2)" 
				   name="@Html.NameFor(model => model.Location2)" 
                   placeholder="@Html.DisplayNameFor(model => model.Location2)" 
				   value="@Html.ValueFor(model => model.Location2)"
				   tabindex="5" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">终点</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Requirements) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Requirements)" 
				   name="@Html.NameFor(model => model.Requirements)" 
                   placeholder="@Html.DisplayNameFor(model => model.Requirements)" 
				   value="@Html.ValueFor(model => model.Requirements)"
				   tabindex="6" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">额外要求</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.PlateNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PlateNumber)" 
				   name="@Html.NameFor(model => model.PlateNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.PlateNumber)" 
				   value="@Html.ValueFor(model => model.PlateNumber)"
				   tabindex="7" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车牌号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.PlateNumberPosition) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PlateNumberPosition)" 
				   name="@Html.NameFor(model => model.PlateNumberPosition)" 
                   placeholder="@Html.DisplayNameFor(model => model.PlateNumberPosition)" 
				   value="@Html.ValueFor(model => model.PlateNumberPosition)"
				   tabindex="8" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车头/车挂</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehStatus) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehStatus)" 
				   name="@Html.NameFor(model => model.VehStatus)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehStatus)" 
				   value="@Html.ValueFor(model => model.VehStatus)"
				   tabindex="9" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车辆状态</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CarType) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CarType)" 
				   name="@Html.NameFor(model => model.CarType)" 
                   placeholder="@Html.DisplayNameFor(model => model.CarType)" 
				   value="@Html.ValueFor(model => model.CarType)"
				   tabindex="10" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车辆类型</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehicleType) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehicleType)" 
				   name="@Html.NameFor(model => model.VehicleType)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehicleType)" 
				   value="@Html.ValueFor(model => model.VehicleType)"
				   tabindex="11" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车辆种类</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehicleProperty) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehicleProperty)" 
				   name="@Html.NameFor(model => model.VehicleProperty)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehicleProperty)" 
				   value="@Html.ValueFor(model => model.VehicleProperty)"
				   tabindex="12" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车辆性质</b>
			    </label>
            </section>
			  				 
	  
	    
	                     <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CompanyId) </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">所属公司</b>
			    </label>
            </section>
				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Axles) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.Axles)"
				   name="@Html.NameFor(model => model.Axles)" 
                   placeholder="@Html.DisplayNameFor(model => model.Axles)" 
				   value="@Html.ValueFor(model => model.Axles)"
				   tabindex="14" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">轴数</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.ECOMark) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.ECOMark)" 
				   name="@Html.NameFor(model => model.ECOMark)" 
                   placeholder="@Html.DisplayNameFor(model => model.ECOMark)" 
				   value="@Html.ValueFor(model => model.ECOMark)"
				   tabindex="15" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">环保标志</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.StrLoadWeight) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.StrLoadWeight)"
				   name="@Html.NameFor(model => model.StrLoadWeight)" 
                   placeholder="@Html.DisplayNameFor(model => model.StrLoadWeight)" 
				   value="@Html.ValueFor(model => model.StrLoadWeight)"
				   tabindex="16" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">额定载重</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoadWeight) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.LoadWeight)"
				   name="@Html.NameFor(model => model.LoadWeight)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoadWeight)" 
				   value="@Html.ValueFor(model => model.LoadWeight)"
				   tabindex="17" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">收费吨位</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoadVolume) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.LoadVolume)"
				   name="@Html.NameFor(model => model.LoadVolume)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoadVolume)" 
				   value="@Html.ValueFor(model => model.LoadVolume)"
				   tabindex="18" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">额定体积</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CarriageSize) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.CarriageSize)"
				   name="@Html.NameFor(model => model.CarriageSize)" 
                   placeholder="@Html.DisplayNameFor(model => model.CarriageSize)" 
				   value="@Html.ValueFor(model => model.CarriageSize)"
				   tabindex="19" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">车厢尺寸(尺)</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Driver) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Driver)" 
				   name="@Html.NameFor(model => model.Driver)" 
                   placeholder="@Html.DisplayNameFor(model => model.Driver)" 
				   value="@Html.ValueFor(model => model.Driver)"
				   tabindex="20" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">主驾司机</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DriverPhone) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.DriverPhone)" 
				   name="@Html.NameFor(model => model.DriverPhone)" 
                   placeholder="@Html.DisplayNameFor(model => model.DriverPhone)" 
				   value="@Html.ValueFor(model => model.DriverPhone)"
				   tabindex="21" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">主驾司机电话</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.AssistantDriver) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.AssistantDriver)" 
				   name="@Html.NameFor(model => model.AssistantDriver)" 
                   placeholder="@Html.DisplayNameFor(model => model.AssistantDriver)" 
				   value="@Html.ValueFor(model => model.AssistantDriver)"
				   tabindex="22" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">副驾司机</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.AssistantDriverPhone) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.AssistantDriverPhone)" 
				   name="@Html.NameFor(model => model.AssistantDriverPhone)" 
                   placeholder="@Html.DisplayNameFor(model => model.AssistantDriverPhone)" 
				   value="@Html.ValueFor(model => model.AssistantDriverPhone)"
				   tabindex="23" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">副驾司机电话</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehLongSize) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.VehLongSize)"
				   name="@Html.NameFor(model => model.VehLongSize)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehLongSize)" 
				   value="@Html.ValueFor(model => model.VehLongSize)"
				   tabindex="24" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">车长(米)</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CubicleType) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CubicleType)" 
				   name="@Html.NameFor(model => model.CubicleType)" 
                   placeholder="@Html.DisplayNameFor(model => model.CubicleType)" 
				   value="@Html.ValueFor(model => model.CubicleType)"
				   tabindex="25" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">箱型</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehUseType) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehUseType)" 
				   name="@Html.NameFor(model => model.VehUseType)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehUseType)" 
				   value="@Html.ValueFor(model => model.VehUseType)"
				   tabindex="26" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车辆使用类型</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CustomsNo) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CustomsNo)" 
				   name="@Html.NameFor(model => model.CustomsNo)" 
                   placeholder="@Html.DisplayNameFor(model => model.CustomsNo)" 
				   value="@Html.ValueFor(model => model.CustomsNo)"
				   tabindex="27" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">海关编号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehUse) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehUse)" 
				   name="@Html.NameFor(model => model.VehUse)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehUse)" 
				   value="@Html.ValueFor(model => model.VehUse)"
				   tabindex="28" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车辆用途</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.AVGECON) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.AVGECON)"
				   name="@Html.NameFor(model => model.AVGECON)" 
                   placeholder="@Html.DisplayNameFor(model => model.AVGECON)" 
				   value="@Html.ValueFor(model => model.AVGECON)"
				   tabindex="29" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">平均油耗(L/100)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.AVGECONScale) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.AVGECONScale)"
				   name="@Html.NameFor(model => model.AVGECONScale)" 
                   placeholder="@Html.DisplayNameFor(model => model.AVGECONScale)" 
				   value="@Html.ValueFor(model => model.AVGECONScale)"
				   tabindex="30" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">油耗因子</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.RoadKM) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.RoadKM)"
				   name="@Html.NameFor(model => model.RoadKM)" 
                   placeholder="@Html.DisplayNameFor(model => model.RoadKM)" 
				   value="@Html.ValueFor(model => model.RoadKM)"
				   tabindex="31" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">总行驶里程</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.RoadHours) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.RoadHours)"
				   name="@Html.NameFor(model => model.RoadHours)" 
                   placeholder="@Html.DisplayNameFor(model => model.RoadHours)" 
				   value="@Html.ValueFor(model => model.RoadHours)"
				   tabindex="32" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">行驶时间</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.RoadKMScale) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.RoadKMScale)"
				   name="@Html.NameFor(model => model.RoadKMScale)" 
                   placeholder="@Html.DisplayNameFor(model => model.RoadKMScale)" 
				   value="@Html.ValueFor(model => model.RoadKMScale)"
				   tabindex="33" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">里程因子</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.GPSDeviceId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.GPSDeviceId)" 
				   name="@Html.NameFor(model => model.GPSDeviceId)" 
                   placeholder="@Html.DisplayNameFor(model => model.GPSDeviceId)" 
				   value="@Html.ValueFor(model => model.GPSDeviceId)"
				   tabindex="34" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">GPS设备编号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Owner) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Owner)" 
				   name="@Html.NameFor(model => model.Owner)" 
                   placeholder="@Html.DisplayNameFor(model => model.Owner)" 
				   value="@Html.ValueFor(model => model.Owner)"
				   tabindex="35" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车主</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.OwnerContactPhone) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.OwnerContactPhone)" 
				   name="@Html.NameFor(model => model.OwnerContactPhone)" 
                   placeholder="@Html.DisplayNameFor(model => model.OwnerContactPhone)" 
				   value="@Html.ValueFor(model => model.OwnerContactPhone)"
				   tabindex="36" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车主联系电话</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Brand) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Brand)" 
				   name="@Html.NameFor(model => model.Brand)" 
                   placeholder="@Html.DisplayNameFor(model => model.Brand)" 
				   value="@Html.ValueFor(model => model.Brand)"
				   tabindex="37" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">品牌</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.RPM) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.RPM)"
				   name="@Html.NameFor(model => model.RPM)" 
                   placeholder="@Html.DisplayNameFor(model => model.RPM)" 
				   value="@Html.ValueFor(model => model.RPM)"
				   tabindex="38" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">额定转速</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.PurchasedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.PurchasedDate)" 
			       name="@Html.NameFor(model => model.PurchasedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.PurchasedDate)" 
				   tabindex="39" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.PurchasedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">购买日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.PurchasedAmount) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.PurchasedAmount)"
				   name="@Html.NameFor(model => model.PurchasedAmount)" 
                   placeholder="@Html.DisplayNameFor(model => model.PurchasedAmount)" 
				   value="@Html.ValueFor(model => model.PurchasedAmount)"
				   tabindex="40" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">购买金额</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehLong) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.VehLong)"
				   name="@Html.NameFor(model => model.VehLong)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehLong)" 
				   value="@Html.ValueFor(model => model.VehLong)"
				   tabindex="41" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">车厢长(米)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehWide) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.VehWide)"
				   name="@Html.NameFor(model => model.VehWide)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehWide)" 
				   value="@Html.ValueFor(model => model.VehWide)"
				   tabindex="42" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">车厢宽(米)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehHigh) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.VehHigh)"
				   name="@Html.NameFor(model => model.VehHigh)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehHigh)" 
				   value="@Html.ValueFor(model => model.VehHigh)"
				   tabindex="43" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">车厢高(米)</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VIN) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VIN)" 
				   name="@Html.NameFor(model => model.VIN)" 
                   placeholder="@Html.DisplayNameFor(model => model.VIN)" 
				   value="@Html.ValueFor(model => model.VIN)"
				   tabindex="44" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">车架号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.ServiceLife) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.ServiceLife)"
				   name="@Html.NameFor(model => model.ServiceLife)" 
                   placeholder="@Html.DisplayNameFor(model => model.ServiceLife)" 
				   value="@Html.ValueFor(model => model.ServiceLife)"
				   tabindex="45" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">使用年限</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.MaintainKM) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.MaintainKM)"
				   name="@Html.NameFor(model => model.MaintainKM)" 
                   placeholder="@Html.DisplayNameFor(model => model.MaintainKM)" 
				   value="@Html.ValueFor(model => model.MaintainKM)"
				   tabindex="46" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">保养公里数</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.MaintainDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.MaintainDate)" 
			       name="@Html.NameFor(model => model.MaintainDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.MaintainDate)" 
				   tabindex="47" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.MaintainDate)"
				    />
             <b class="tooltip tooltip-bottom-right">下次保养日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.MaintainMonth) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.MaintainMonth)"
				   name="@Html.NameFor(model => model.MaintainMonth)" 
                   placeholder="@Html.DisplayNameFor(model => model.MaintainMonth)" 
				   value="@Html.ValueFor(model => model.MaintainMonth)"
				   tabindex="48" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">保养周期(月)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			  <section class="col col-4">
              <label class="label">@Html.DisplayNameFor(model => model.ExistVehTailBoard) </label>
              <label class="checkbox">
                 <input id="@Html.IdFor(model => model.ExistVehTailBoard)"
                       name="@Html.NameFor(model => model.ExistVehTailBoard)"
                       value="true" @(Model.ExistVehTailBoard ? "checked=\"checked\"" : "")
                       tabindex="6"
                       type="checkbox" />
                <i></i>
                <b class="tooltip tooltip-bottom-right">车辆尾板</b>
            </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardBrand) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehTailBoardBrand)" 
				   name="@Html.NameFor(model => model.VehTailBoardBrand)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehTailBoardBrand)" 
				   value="@Html.ValueFor(model => model.VehTailBoardBrand)"
				   tabindex="50" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">尾板品牌</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardFactory) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehTailBoardFactory)" 
				   name="@Html.NameFor(model => model.VehTailBoardFactory)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehTailBoardFactory)" 
				   value="@Html.ValueFor(model => model.VehTailBoardFactory)"
				   tabindex="51" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">尾板厂家</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardLife) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.VehTailBoardLife)"
				   name="@Html.NameFor(model => model.VehTailBoardLife)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehTailBoardLife)" 
				   value="@Html.ValueFor(model => model.VehTailBoardLife)"
				   tabindex="52" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">尾板使用年限</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardAmount) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.VehTailBoardAmount)"
				   name="@Html.NameFor(model => model.VehTailBoardAmount)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehTailBoardAmount)" 
				   value="@Html.ValueFor(model => model.VehTailBoardAmount)"
				   tabindex="53" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">尾板价值</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.VehTailBoardGPSDeviceId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.VehTailBoardGPSDeviceId)" 
				   name="@Html.NameFor(model => model.VehTailBoardGPSDeviceId)" 
                   placeholder="@Html.DisplayNameFor(model => model.VehTailBoardGPSDeviceId)" 
				   value="@Html.ValueFor(model => model.VehTailBoardGPSDeviceId)"
				   tabindex="54" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">尾板GPS设备编号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseModel) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.DrLicenseModel)" 
				   name="@Html.NameFor(model => model.DrLicenseModel)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseModel)" 
				   value="@Html.ValueFor(model => model.DrLicenseModel)"
				   tabindex="55" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">型号代码</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseUseNature) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.DrLicenseUseNature)" 
				   name="@Html.NameFor(model => model.DrLicenseUseNature)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseUseNature)" 
				   value="@Html.ValueFor(model => model.DrLicenseUseNature)"
				   tabindex="56" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">使用性质</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseBrand) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.DrLicenseBrand)" 
				   name="@Html.NameFor(model => model.DrLicenseBrand)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseBrand)" 
				   value="@Html.ValueFor(model => model.DrLicenseBrand)"
				   tabindex="57" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">品牌</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseDevId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.DrLicenseDevId)" 
				   name="@Html.NameFor(model => model.DrLicenseDevId)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseDevId)" 
				   value="@Html.ValueFor(model => model.DrLicenseDevId)"
				   tabindex="58" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">识别代码</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseEngineId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.DrLicenseEngineId)" 
				   name="@Html.NameFor(model => model.DrLicenseEngineId)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseEngineId)" 
				   value="@Html.ValueFor(model => model.DrLicenseEngineId)"
				   tabindex="59" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">发动机号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseRegistrationDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.DrLicenseRegistrationDate)" 
			       name="@Html.NameFor(model => model.DrLicenseRegistrationDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseRegistrationDate)" 
				   tabindex="60" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.DrLicenseRegistrationDate)"
				    />
             <b class="tooltip tooltip-bottom-right">注册日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicensePubDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.DrLicensePubDate)" 
			       name="@Html.NameFor(model => model.DrLicensePubDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicensePubDate)" 
				   tabindex="61" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.DrLicensePubDate)"
				    />
             <b class="tooltip tooltip-bottom-right">发证日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseRatedUsers) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseRatedUsers)"
				   name="@Html.NameFor(model => model.DrLicenseRatedUsers)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseRatedUsers)" 
				   value="@Html.ValueFor(model => model.DrLicenseRatedUsers)"
				   tabindex="62" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">额定人数</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehWeight) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseVehWeight)"
				   name="@Html.NameFor(model => model.DrLicenseVehWeight)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseVehWeight)" 
				   value="@Html.ValueFor(model => model.DrLicenseVehWeight)"
				   tabindex="63" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">车辆重量(吨)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseDevWeight) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseDevWeight)"
				   name="@Html.NameFor(model => model.DrLicenseDevWeight)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseDevWeight)" 
				   value="@Html.ValueFor(model => model.DrLicenseDevWeight)"
				   tabindex="64" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">整备重量(吨)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseNetWeight) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseNetWeight)"
				   name="@Html.NameFor(model => model.DrLicenseNetWeight)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseNetWeight)" 
				   value="@Html.ValueFor(model => model.DrLicenseNetWeight)"
				   tabindex="65" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">净重(吨)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseNetVolume) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseNetVolume)"
				   name="@Html.NameFor(model => model.DrLicenseNetVolume)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseNetVolume)" 
				   value="@Html.ValueFor(model => model.DrLicenseNetVolume)"
				   tabindex="66" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">净空(立方)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehWide) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseVehWide)"
				   name="@Html.NameFor(model => model.DrLicenseVehWide)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseVehWide)" 
				   value="@Html.ValueFor(model => model.DrLicenseVehWide)"
				   tabindex="67" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">外限宽(米)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehHigh) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseVehHigh)"
				   name="@Html.NameFor(model => model.DrLicenseVehHigh)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseVehHigh)" 
				   value="@Html.ValueFor(model => model.DrLicenseVehHigh)"
				   tabindex="68" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">外限高(米)</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseVehLong) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.DrLicenseVehLong)"
				   name="@Html.NameFor(model => model.DrLicenseVehLong)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseVehLong)" 
				   value="@Html.ValueFor(model => model.DrLicenseVehLong)"
				   tabindex="69" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">外限长(米)</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.DrLicenseScrapedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.DrLicenseScrapedDate)" 
			       name="@Html.NameFor(model => model.DrLicenseScrapedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.DrLicenseScrapedDate)" 
				   tabindex="70" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.DrLicenseScrapedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">强制报废日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseManageId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LoLicenseManageId)" 
				   name="@Html.NameFor(model => model.LoLicenseManageId)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoLicenseManageId)" 
				   value="@Html.ValueFor(model => model.LoLicenseManageId)"
				   tabindex="71" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">文管子号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LoLicenseId)" 
				   name="@Html.NameFor(model => model.LoLicenseId)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoLicenseId)" 
				   value="@Html.ValueFor(model => model.LoLicenseId)"
				   tabindex="72" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">运营许可证号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseBusinessScope) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LoLicenseBusinessScope)" 
				   name="@Html.NameFor(model => model.LoLicenseBusinessScope)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoLicenseBusinessScope)" 
				   value="@Html.ValueFor(model => model.LoLicenseBusinessScope)"
				   tabindex="73" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">经营范围</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicensePubDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LoLicensePubDate)" 
			       name="@Html.NameFor(model => model.LoLicensePubDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoLicensePubDate)" 
				   tabindex="74" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LoLicensePubDate)"
				    />
             <b class="tooltip tooltip-bottom-right">发证日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseValidDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LoLicenseValidDate)" 
			       name="@Html.NameFor(model => model.LoLicenseValidDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoLicenseValidDate)" 
				   tabindex="75" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LoLicenseValidDate)"
				    />
             <b class="tooltip tooltip-bottom-right">二级有效期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicenseCheckDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LoLicenseCheckDate)" 
			       name="@Html.NameFor(model => model.LoLicenseCheckDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoLicenseCheckDate)" 
				   tabindex="76" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LoLicenseCheckDate)"
				    />
             <b class="tooltip tooltip-bottom-right">年检日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LoLicensePlace) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LoLicensePlace)" 
				   name="@Html.NameFor(model => model.LoLicensePlace)" 
                   placeholder="@Html.DisplayNameFor(model => model.LoLicensePlace)" 
				   value="@Html.ValueFor(model => model.LoLicensePlace)"
				   tabindex="77" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">注册地</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.InsTrafficPolicyId)" 
				   name="@Html.NameFor(model => model.InsTrafficPolicyId)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsTrafficPolicyId)" 
				   value="@Html.ValueFor(model => model.InsTrafficPolicyId)"
				   tabindex="78" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">交强险保单</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyCompany) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.InsTrafficPolicyCompany)" 
				   name="@Html.NameFor(model => model.InsTrafficPolicyCompany)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsTrafficPolicyCompany)" 
				   value="@Html.ValueFor(model => model.InsTrafficPolicyCompany)"
				   tabindex="79" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">保险公司</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyVaildateDate) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.InsTrafficPolicyVaildateDate)" 
				   name="@Html.NameFor(model => model.InsTrafficPolicyVaildateDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsTrafficPolicyVaildateDate)" 
				   value="@Html.ValueFor(model => model.InsTrafficPolicyVaildateDate)"
				   tabindex="80" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">交强险保单有效期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsTrafficPolicyAmount) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.InsTrafficPolicyAmount)"
				   name="@Html.NameFor(model => model.InsTrafficPolicyAmount)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsTrafficPolicyAmount)" 
				   value="@Html.ValueFor(model => model.InsTrafficPolicyAmount)"
				   tabindex="81" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">交强险保额</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyId) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.InsThirdPartyId)" 
				   name="@Html.NameFor(model => model.InsThirdPartyId)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsThirdPartyId)" 
				   value="@Html.ValueFor(model => model.InsThirdPartyId)"
				   tabindex="82" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">第三者保单号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyVaildateDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.InsThirdPartyVaildateDate)" 
			       name="@Html.NameFor(model => model.InsThirdPartyVaildateDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsThirdPartyVaildateDate)" 
				   tabindex="83" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.InsThirdPartyVaildateDate)"
				    />
             <b class="tooltip tooltip-bottom-right">第三者保单有效期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyAmount) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.InsThirdPartyAmount)"
				   name="@Html.NameFor(model => model.InsThirdPartyAmount)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsThirdPartyAmount)" 
				   value="@Html.ValueFor(model => model.InsThirdPartyAmount)"
				   tabindex="84" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">第三者保单额</b>
			    </label>
            </section>
              				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyLogisticsAmount) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.InsThirdPartyLogisticsAmount)"
				   name="@Html.NameFor(model => model.InsThirdPartyLogisticsAmount)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsThirdPartyLogisticsAmount)" 
				   value="@Html.ValueFor(model => model.InsThirdPartyLogisticsAmount)"
				   tabindex="85" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">物流责任险保额</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InsThirdPartyLogisticsVaildateDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.InsThirdPartyLogisticsVaildateDate)" 
			       name="@Html.NameFor(model => model.InsThirdPartyLogisticsVaildateDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.InsThirdPartyLogisticsVaildateDate)" 
				   tabindex="86" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.InsThirdPartyLogisticsVaildateDate)"
				    />
             <b class="tooltip tooltip-bottom-right">物流责任险有效期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Status) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Status)" 
				   name="@Html.NameFor(model => model.Status)" 
                   placeholder="@Html.DisplayNameFor(model => model.Status)" 
				   value="@Html.ValueFor(model => model.Status)"
				   tabindex="87" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">状态</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedDate)" 
				   tabindex="88" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">创建时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="89" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">创建用户</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedDate)" 
				   tabindex="90" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">最后更新时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="91" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">最后更新用户</b>
			    </label>
            </section>
			  				 
	  
	    
	    </div>
</fieldset>

<!--========================================================================================-->
 


 <script type="text/javascript">
   var id=@Model.Id;
   

      
  

 </script>

