<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <h5> My Income <span class="txt-color-blue">$47,171</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h5>
                    <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                    <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Live Feeds </h2>

                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">当天业务量统计</span></a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#s2"><i class="fa fa-facebook"></i> <span class="hidden-mobile hidden-tablet">月业务量统计</span></a>
                            </li>

                           
                        </ul>

                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">

                            test
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                             
                                            <div id="updating-chart" class="chart-large txt-color-blue"></div>

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">

                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                    <span class="text"> 空车 <span class="pull-right">@ViewBag.Count1/@ViewBag.Total</span> </span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-color-greenLight" style="width: @ViewBag.Percent1%;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                    <span class="text"> 接单 <span class="pull-right">@ViewBag.Count2/@ViewBag.Total</span> </span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-color-blue" style="width: @ViewBag.Percent2%;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                    <span class="text"> 在途 <span class="pull-right">@ViewBag.Count3/@ViewBag.Total</span> </span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-color-orange" style="width: @ViewBag.Percent3%;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                                    <span class="text"> 异常 <span class="pull-right">@ViewBag.Count4 </span> </span>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-color-redLight" style="width: @ViewBag.Percent4%;"></div>
                                                    </div>
                                                </div>

                                                 

                                            </div>

                                        </div>
                                    </div>

                                    <div class="show-stat-microcharts">
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

                                            <div class="easy-pie-chart txt-color-orangeDark" data-percent="@ViewBag.UPercent1" data-pie-size="50">
                                                <span class="percent percent-sign">35</span>
                                            </div>
                                            <span class="easy-pie-title"> 车辆使用率 <i class="fa fa-caret-up icon-color-bad"></i> </span>
                                             
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-greenLight" data-percent="@ViewBag.CompletePercent" data-pie-size="50">
                                                <span class="percent percent-sign">@ViewBag.CompletePercent </span>
                                            </div>
                                            <span class="easy-pie-title" style="width:150px"> 最近10天订单完成率 <i class="fa fa-caret- icon-color-good"></i></span>
                                             
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-blue" data-percent="91" data-pie-size="50">
                                                <span class="percent percent-sign">91 </span>
                                            </div>
                                            <span class="easy-pie-title" style="width:150px"> 最近10天订单准点率 <i class="fa fa-caret-up icon-color-good"></i></span>
                                            
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-darken" data-percent="36" data-pie-size="50">
                                                <span class="percent degree-sign">36 <i class="fa fa-caret-up"></i></span>
                                            </div>
                                            <span class="easy-pie-title"> 温度 <i class="fa fa-caret-down icon-color-good"></i></span>
                                             
                                        </div>
                                    </div>

                                </div>
                                <!-- end s1 tab pane -->

                                <div class="tab-pane fade" id="s2">
                                    <div class="widget-body-toolbar bg-color-white">

                                        <form class="form-inline" role="form">

                                            <div class="form-group">
                                                <label class="sr-only" for="s123">Show From</label>
                                                <input type="email" class="form-control input-sm" id="s123" placeholder="Show From">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control input-sm" id="s124" placeholder="To">
                                            </div>

                                            <div class="btn-group hidden-phone pull-right">
                                                <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> More <span class="caret"> </span> </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </form>

                                    </div>
                                    <div class="padding-10">
                                        <div id="statsChart" class="chart-large has-legend-unique"></div>
                                    </div>

                                </div>
                                <!-- end s2 tab pane -->

                               
                            </div>

                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>
        <!-- end row -->
        <!-- row -->

        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="false">

                    <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->

                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments txt-color-white"></i> </span>
                        <h2> 运力池情况一览 </h2>
                        <div class="widget-toolbar">
                            <!-- add: non-hidden - to disable auto hide -->



                        </div>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <div>
                                <label>Title:</label>
                                <input type="text" />
                            </div>
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body widget-hide-overflow no-padding">
                            <!-- content goes here -->
                            <div class="table-responsive">

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="120px">状态</th>
                                            <th>车辆</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Pools)
                            {
                                <tr>
                                    <td>@item.Status</td>
                                    <td>
                                        @foreach (var str in item.PlateNumbers)
                            {
                                if (item.Status == "空车")
                                {
                                    <span class="label label-success" style="line-height:26px;font-size:14px">@str</span>
                    }
                    else if (item.Status == "发车")
                    {
                        <span class="label label-warning" style="line-height:26px;font-size:14px">@str</span>
        }
        else if (item.Status == "异常")
        {
            <span class="label label-danger" style="line-height:26px;font-size:14px">@str</span>
}
else if (item.Status == "接单")
{
            <span class="label label-primary" style="line-height:26px;font-size:14px">@str</span>
}
else
{
            <span class="label label-default" style="line-height:26px;font-size:14px">@str</span>
}
}
                                    </td>

                                </tr>
                }
                                    </tbody>
                                </table>

                            </div>

                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> 快速下单 </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form id="order-form" class="smart-form" novalidate="novalidate">

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-pencil"></i>
                                                <input type="text" name="ExternalNo" id="ExternalNo" placeholder="对账单号">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="select">

                                                @Html.DropDownList("ShipperId", (IEnumerable
<SelectListItem>)ViewBag.Shipper, new { @class = "form-control" })
                                                <i></i>
                                            </label>
                                        </section>
                                    </div><div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-map-marker"></i>
                                                <input type="text" name="Location1" id="Location1" placeholder="起点">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-map-marker"></i>
                                                <input type="text" name="Location2" id="Location2" placeholder="终点">
                                            </label>
                                        </section>

                                    </div>

                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="select">
                                                <select name="TimePeriod" id="TimePeriod">
                                                    <option value="0" selected="" disabled="">时效</option>
                                                    <option value="12">当天达</option>
                                                    <option value="48">次日达</option>
                                                    <option value="72">隔天达</option>

                                                </select> <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-phone"></i>
                                                <input name="PhoneNumber" id="PhoneNumber" placeholder="联系电话" data-mask="999 9999 9999">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-5">
                                            <label class="input">
                                                <input type="text" name="ProductName" id="ProductName" placeholder="货物名称">
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="input">
                                                <input type="text" name="inputloadnum" id="inputloadnum" placeholder="件数/托数/箱数">
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <input type="text" name="inputloadsize" id="inputloadsize" placeholder="立方数/吨">
                                            </label>
                                        </section>
                                    </div>



                                    <section>
                                        <label class="textarea">
                                            <textarea rows="3" name="Requirements" id="Requirements" placeholder="额外要求"></textarea>
                                        </label>
                                    </section>
                                </fieldset>
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="OrderNo" name="OrderNo" value="" />
                                <input type="hidden" id="Id" name="Id" value="-1" />
                                <input type="hidden" id="Packages" name="Packages" value="" />
                                <input type="hidden" id="Weight" name="Weight" value="" />
                                <input type="hidden" id="Volume" name="Volume" value="" />
                                <input type="hidden" id="Cartons" name="Cartons" value="" />
                                <input type="hidden" id="Pallets" name="Pallets" value="" />
                                <input type="hidden" id="VehicleId" name="VehicleId" value="" />
                                <input type="hidden" id="CompanyId" name="CompanyId" value="@Auth.PlatformId" />
                                <input type="hidden" id="InputUser" name="InputUser" value="@Auth.UserName" />

                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        保存
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>

            </article>

            <article class="col-sm-12 col-md-12 col-lg-6">

                <!-- new widget -->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false" data-widget-colorbutton="false">

                    <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

            -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                        <h2> 在途车辆任务列表 </h2>
                        <div class="widget-toolbar">
                            <!-- add: non-hidden - to disable auto hide -->
                            <div class="btn-group">
                                <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                                    Showing <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu js-status-update pull-right">
                                    <li>
                                        <a href="javascript:void(0);" id="mt">Month</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" id="ag">Agenda</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" id="td">Today</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <!-- end widget edit box -->

                        <div class="widget-body no-padding">
                            <!-- content goes here -->
                            <div class="widget-body-toolbar">

                                <div id="calendar-buttons">

                                    <div class="btn-group">
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="calendar"></div>

                            <!-- end content -->
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->


            </article>

            <article class="col-sm-12 col-md-12 col-lg-6">
               
            </article>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {

    <script>

        $(document).ready(function () {
         
             

            /*
            * RUN PAGE GRAPHS
            */

            /* TAB 1: UPDATING CHART */
            // For the demo we use generated data, but normally it would be coming from the server

            var data = [], totalPoints = 200, $UpdatingChartColors = $("#updating-chart").css('color');

            function getRandomData() {
                if (data.length > 0)
                    data = data.slice(1);

                // do a random walk
                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 50;
                    var y = prev + Math.random() * 10 - 5;
                    if (y < 0)
                        y = 0;
                    if (y > 100)
                        y = 100;
                    data.push(y);
                }

                // zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i)
                    res.push([i, data[i]])
                return res;
            }

            // setup control widget
            var updateInterval = 1500;
            $("#updating-chart").val(updateInterval).change(function () {

                var v = $(this).val();
                if (v && !isNaN(+v)) {
                    updateInterval = +v;
                    $(this).val("" + updateInterval);
                }

            });

            // setup plot
            var options = {
                yaxis: {
                    min: 0,
                    max: 100
                },
                xaxis: {
                    min: 0,
                    max: 100
                },
                colors: [$UpdatingChartColors],
                series: {
                    lines: {
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.4
                            }, {
                                opacity: 0
                            }]
                        },
                        steps: false

                    }
                }
            };

            var plot = $.plot($("#updating-chart"), [getRandomData()], options);

            /* live switch */
            $('input[type="checkbox"]#start_interval').click(function () {
                if ($(this).prop('checked')) {
                    $on = true;
                    updateInterval = 1500;
                    update();
                } else {
                    clearInterval(updateInterval);
                    $on = false;
                }
            });

            function update() {
                if ($on == true) {
                    plot.setData([getRandomData()]);
                    plot.draw();
                    setTimeout(update, updateInterval);

                } else {
                    clearInterval(updateInterval)
                }

            }

            var $on = false;

            /*end updating chart*/

            /* TAB 2: Social Network  */

            $(function () {
                // jQuery Flot Chart
                var twitter = [[1, 27], [2, 34], [3, 51], [4, 48], [5, 55], [6, 65], [7, 61], [8, 70], [9, 65], [10, 75], [11, 57], [12, 59], [13, 62]], facebook = [[1, 25], [2, 31], [3, 45], [4, 37], [5, 38], [6, 40], [7, 47], [8, 55], [9, 43], [10, 50], [11, 47], [12, 39], [13, 47]], data = [{
                    label: "Twitter",
                    data: twitter,
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.1
                            }, {
                                opacity: 0.13
                            }]
                        }
                    },
                    points: {
                        show: true
                    }
                }, {
                    label: "Facebook",
                    data: facebook,
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.1
                            }, {
                                opacity: 0.13
                            }]
                        }
                    },
                    points: {
                        show: true
                    }
                }];

                var options = {
                    grid: {
                        hoverable: true
                    },
                    colors: ["#568A89", "#3276B1"],
                    tooltip: true,
                    tooltipOpts: {
                        //content : "Value <b>$x</b> Value <span>$y</span>",
                        defaultTheme: false
                    },
                    xaxis: {
                        ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"], [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"], [13, "JAN+1"]]
                    },
                    yaxes: {

                    }
                };

                var plot3 = $.plot($("#statsChart"), data, options);
            });

            // END TAB 2

           

             

            /*
            * FULL CALENDAR JS
            */

            if ($("#calendar").length) {
                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                var calendar = $('#calendar').fullCalendar({
                    editable: true,
                    draggable: true,
                    selectable: false,
                    selectHelper: true,
                    unselectAuto: false,
                    disableResizing: false,
                    height: "auto",

                    header: {
                        left: 'title', //,today
                        center: 'prev, next, today',
                        right: 'month, agendaWeek, agenDay' //month, agendaDay,
                    },

                    select: function (start, end, allDay) {
                        var title = prompt('Event Title:');
                        if (title) {
                            calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                },
                                true // make the event "stick"
                            );
                        }
                        calendar.fullCalendar('unselect');
                    },

                    events: [
                         
                    ],


                    eventRender: function (event, element, icon) {
                        //console.log(event, element, icon);
                        if (!event.description == "") {
                            element.find('.fc-title')
                                .append("<br/><span class='ultra-light'>" + event.description + "</span>");
                        }
                        if (!event.icon == "") {
                            element.find('.fc-title')
                                .append("<i class='air air-top-right fa " + event.icon + " '></i>");
                        }
                    }
                });

            };

            $.get('/Admin/GetEvents', function (data) {
           
                $("#calendar").fullCalendar('addEventSource', data)
            });


            /* hide default buttons */
            $('.fc-toolbar .fc-right, .fc-toolbar .fc-center').hide();

            // calendar prev
            $('#calendar-buttons #btn-prev').click(function () {
                $('.fc-prev-button').click();
                return false;
            });

            // calendar next
            $('#calendar-buttons #btn-next').click(function () {
                $('.fc-next-button').click();
                return false;
            });

            // calendar today
            $('#calendar-buttons #btn-today').click(function () {
                $('.fc-button-today').click();
                return false;
            });

            // calendar month
            $('#mt').click(function () {
                $('#calendar').fullCalendar('changeView', 'month');
            });

            // calendar agenda week
            $('#ag').click(function () {
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
            });

            // calendar agenda day
            $('#td').click(function () {
                $('#calendar').fullCalendar('changeView', 'agendaDay');
            });

             
            $.validator.methods.inppc = function( value, element ) {
                var patt = /^\d{1,5}\/\d{1,5}\/\d{1,5}$/;
                if (patt.test(value)) {
                    var numbers = value.match(/\d+/g).map(Number);

                    $('#Packages').val(numbers[0]);
                    $('#Pallets').val(numbers[1]);
                    $('#Cartons').val(numbers[2]);
                    return this.optional(element) || true;
                } else {
                    $('#Packages').val("");
                    $('#Pallets').val("");
                    $('#Cartons').val("");
                    return this.optional(element) || false;
                }

                
            }
            $.validator.methods.invw = function (value, element) {
                var patt = /^((\d{1,5}\.\d{0,2})|\d{1,5}$)\/(\d{1,5}\.\d{0,2})$|\d{1,5}$/;
                if (patt.test(value)) {
                    var numbers = value.match(/(\d+\.\d+)|\d+/g).map(Number);
                    $('#Volume').val(numbers[0]);
                    $('#Weight').val(numbers[1]);
                    return this.optional(element) || true;
                } else {
                    $('#Volume').val("");
                    $('#Weight').val("");
                    return this.optional(element) || false;
                }


            }
            var errorClass = 'invalid';
            var errorElement = 'em';
            var $form = $("#order-form").validate({
                errorClass: errorClass,
                errorElement: errorElement,
                highlight: function (element) {
                    $(element).parent().removeClass('state-success').addClass("state-error");
                    $(element).removeClass('valid');
                },
                unhighlight: function (element) {
                    $(element).parent().removeClass("state-error").addClass('state-success');
                    $(element).addClass('valid');
                },

                // Rules for form validation
                rules: {
                    ExternalNo: {
                        required: true,
                        maxlength: 30
                    },
                    ShipperId: {
                        required: true
                    },
                    Location1: {
                        required: true,
                        maxlength: 120
                    },
                    Location2: {
                        required: true,
                        maxlength: 120
                    },
                    TimePeriod: {
                        required: true
                    },
                    inputloadsize: {
                        invw: true
                    },
                    inputloadnum: {
                        inppc: true
                    },
                    Contact: {
                        maxlength: 20
                    },
                    PhoneNumber: {
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    ExternalNo: {
                        required: '请输入客户对账单号'
                    },
                    
                    Location1: {
                        required: '请输入起点'
                    },
                    Location2: {
                        required: '请输入终点'
                    },
                    TimePeriod: {
                        required: '请输入时效'
                    } ,
                    inputloadsize: {
                        invw: '请输入体积(立方)[5位以内可带小数]/重量(吨)[5位以内可带小数]'
                    },
                    inputloadnum: {
                        inppc: '请输入件数[5位以内]/板数[5位以内]/箱数(或散箱数)[5位以内]'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                },
                submitHandler: function (form) {
                    var token = $('input[name="__RequestVerificationToken"]', form).val();
                    var data = $(form).serializeJSON();
                    console.log("do sumbit ", data);
                    $.post("/Orders/Create", {
                        __RequestVerificationToken: token,
                        order: data
                    }, function (res){
                        //console.log(res);
                        if (res.success == false) {
                            $.messager.alert('错误', res.err);
                        } else {
                            $.messager.alert('提示', res.message);
                            $(form).resetForm();
                        }
                    });
                }
            });



            var ac1 = new BMap.Autocomplete(    //建立一个自动完成的对象
                {
                    "input": "Location1",
                    "location": "中国"
                   
                 
                });
            var ac2 = new BMap.Autocomplete(    //建立一个自动完成的对象
                {
                    "input": "Location2",
                     "location": "中国"
                });
        });
      
    </script>
}