﻿@model WebApp.Models.TransactionHistory
 <!-- 输出form表单界面 -->
 <div id="detailswindow" hidden="hidden" class="easyui-window" 
      title="明细数据" 
      data-options="modal:true,
                    closed:true,
                    iconcls:'icon-menu'
                    " style="width:960px;height:520px">
    <form id="transactionhistory_form" class="easyui-form form-horizontal" method="post" data-options="novalidate:true">
  @Html.AntiForgeryToken()
 <table class="table table-bordered">
    <thead>
                <tr>
                    <td colspan="6">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" onclick="saveitem()">
                                <i class="fa fa-floppy-o"></i>
                                保存
                            </button>
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                                操作1
                            </button>
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                                操作2
                            </button>
                            <button type="button" class="btn btn-default" onclick="cancelitem()">
                                <i class="fa fa-refresh"></i>
                                取消
                            </button>
                            <button type="button" class="btn btn-default" onclick="refreshitem()">
                                <i class="fa fa-refresh"></i>
                                刷新
                            </button>
                        </div>
                    </td>
                </tr>
            </thead>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
			   			   			<input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   class="easyui-numberbox" type="text" 
                   data-options="prompt:'Id',
                                 readonly:true,
                                width:200,
                                 label:'',required:true " />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.OrderNo)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.OrderNo)" 
				   name="@Html.NameFor(model => model.OrderNo)" 
				   value="@Html.ValueFor(model => model.OrderNo)"
				   tabindex="1" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'订单号',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.PlateNumber)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.PlateNumber)" 
				   name="@Html.NameFor(model => model.PlateNumber)" 
				   value="@Html.ValueFor(model => model.PlateNumber)"
				   tabindex="2" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'车牌号',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,10]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Status)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Status)" 
				   name="@Html.NameFor(model => model.Status)" 
				   value="@Html.ValueFor(model => model.Status)"
				   tabindex="3" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'状态',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.TransactioDateTime)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.TransactioDateTime)" 
			       name="@Html.NameFor(model => model.TransactioDateTime)" 
				   tabindex="4" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.TransactioDateTime)"
				   data-options="prompt:'更新时间',
								 label:'',
                                width:200,
								 required:true,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Remark)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Remark)" 
				   name="@Html.NameFor(model => model.Remark)" 
				   value="@Html.ValueFor(model => model.Remark)"
				   tabindex="5" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'备注',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,120]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Flag1)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Flag1)"
				   name="@Html.NameFor(model => model.Flag1)" 
				   value="@Html.ValueFor(model => model.Flag1)"
				   tabindex="6" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'标识1',
								 label:'',
                                width:200,
								 required:true " />
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Flag2)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Flag2)"
				   name="@Html.NameFor(model => model.Flag2)" 
				   value="@Html.ValueFor(model => model.Flag2)"
				   tabindex="7" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'标识2',
								 label:'',
                                width:200,
								 required:true " />
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.InputUser)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.InputUser)" 
				   name="@Html.NameFor(model => model.InputUser)" 
				   value="@Html.ValueFor(model => model.InputUser)"
				   tabindex="8" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'操作人员',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Longitude)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Longitude)"
				   name="@Html.NameFor(model => model.Longitude)" 
				   value="@Html.ValueFor(model => model.Longitude)"
				   tabindex="9" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'经度',
								 label:'',
                                width:200,
								 required:true " />
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Latitude)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Latitude)"
				   name="@Html.NameFor(model => model.Latitude)" 
				   value="@Html.ValueFor(model => model.Latitude)"
				   tabindex="10" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'维度',
								 label:'',
                                width:200,
								 required:true " />
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.PhotographPath)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.PhotographPath)" 
				   name="@Html.NameFor(model => model.PhotographPath)" 
				   value="@Html.ValueFor(model => model.PhotographPath)"
				   tabindex="11" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'照片路径',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,50]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Photograph)  </td>
	   <td> 
			   			              <input id="@Html.IdFor(model => model.Photograph)" 
					name="@Html.NameFor(model => model.Photograph)" 
					value="@Html.ValueFor(model => model.Photograph)"
					tabindex="12" 
					class="easyui-textbox" 
					type="text" 
					data-options="prompt:'照片',
					             label:'',
                                width:200,
								 required:false " />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Remark2)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Remark2)" 
				   name="@Html.NameFor(model => model.Remark2)" 
				   value="@Html.ValueFor(model => model.Remark2)"
				   tabindex="13" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'备注',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,150]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
				   tabindex="14" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				   data-options="prompt:'创建时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="15" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'创建用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
				   tabindex="16" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				   data-options="prompt:'最后更新时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="17" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'最后更新用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   </tr>
	   	        <tfoot>
        <tr>
        <tr>
    </tfoot>
</table>


<!--输出form表单界面-->
<!--========================================================================================-->
 </form>
</div>


<script type="text/javascript">
    //load data by foreign key
    function loadData(id,data){
         $('#transactionhistory_form').form('load', data);
             }
    var $editform = $('#transactionhistory_form');
    //save item
    function saveitem() {
         
        if ($editform.form('enableValidation').form('validate')) {
            var transactionhistory = $editform.serializeJSON();
            var token = $('input[name="__RequestVerificationToken"]', $editform).val();

            $.ajax({
                    type: "POST",
                    url: "/TransactionHistories/Edit",
                    data: {
                        __RequestVerificationToken: token,
                        transactionhistory:transactionhistory
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                })
                .done(function (response) {
                    if (response.success) {
                        $.messager.alert("提示", "保存成功！");
                    } else {
                        $.messager.alert("错误", "保存失败！" + response.err, "error");
                    }
                    })
                .fail(function (response) {
                        $.messager.alert("错误", "保存失败！", "error");
                    });
        }
    }
    // cancel
    function cancelitem() {
        $('#detailswindow').window('close');
    }
    // reload
    function refreshitem() {
        $('#detailswindow').window('close');
    }
    


    

</script>


