﻿@model WebApp.Models.Company
 <!-- 输出form表单界面 -->
 <div id="detailswindow" hidden="hidden" class="easyui-window" 
      title="明细数据" 
      data-options="modal:true,
                    closed:true,
                    iconcls:'icon-menu'
                    " style="width:960px;height:520px">
    <form id="company_form" class="easyui-form form-horizontal" method="post" data-options="novalidate:true">
  @Html.AntiForgeryToken()
 <table class="table table-bordered">
    <thead>
                <tr>
                    <td colspan="8">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" onclick="saveitem()">
                                <i class="fa fa-floppy-o"></i>
                                保存
                            </button>
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                                操作1
                            </button>
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-pencil-square-o"></i>
                                操作2
                            </button>
                            <button type="button" class="btn btn-default" onclick="cancelitem()">
                                <i class="fa fa-refresh"></i>
                                取消
                            </button>
                            <button type="button" class="btn btn-default" onclick="refreshitem()">
                                <i class="fa fa-refresh"></i>
                                刷新
                            </button>
                        </div>
                    </td>
                </tr>
            </thead>
	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.Id)  </td>
	   <td> 
			   			   			<input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   class="easyui-numberbox" type="text" 
                   data-options="prompt:'Id',
                                 readonly:true,
                                width:200,
                                 label:'',required:true " />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Name)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="1" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'企业名称',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,256]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.Address)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.Address)" 
				   name="@Html.NameFor(model => model.Address)" 
				   value="@Html.ValueFor(model => model.Address)"
				   tabindex="2" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'企业注册地址',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,256]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.RegisteredCapital)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.RegisteredCapital)"
				   name="@Html.NameFor(model => model.RegisteredCapital)" 
				   value="@Html.ValueFor(model => model.RegisteredCapital)"
				   tabindex="3" 
				   class="easyui-numberbox" 
				   type="text" 
				   data-options="prompt:'注册资金',
								 label:'',
                                width:200,
								 required:true " />
              				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.UnifiedSocialCreditldentifier)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.UnifiedSocialCreditldentifier)" 
				   name="@Html.NameFor(model => model.UnifiedSocialCreditldentifier)" 
				   value="@Html.ValueFor(model => model.UnifiedSocialCreditldentifier)"
				   tabindex="4" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'统一社会信用代码',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,18]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.UnifiedSocialDatetime)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.UnifiedSocialDatetime)" 
			       name="@Html.NameFor(model => model.UnifiedSocialDatetime)" 
				   tabindex="5" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.UnifiedSocialDatetime)"
				   data-options="prompt:'统一社会信用代码注册时间',
								 label:'',
                                width:200,
								 required:true,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.BusinessScope)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.BusinessScope)" 
				   name="@Html.NameFor(model => model.BusinessScope)" 
				   value="@Html.ValueFor(model => model.BusinessScope)"
				   tabindex="6" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'经营范围',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,512]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.BusinessLicenseStartDatetime)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.BusinessLicenseStartDatetime)" 
			       name="@Html.NameFor(model => model.BusinessLicenseStartDatetime)" 
				   tabindex="7" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.BusinessLicenseStartDatetime)"
				   data-options="prompt:'营业执照期限开始日期',
								 label:'',
                                width:200,
								 required:true,
								 formatter:dateformatter" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.BusinessLicenseendDatetime)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.BusinessLicenseendDatetime)" 
			       name="@Html.NameFor(model => model.BusinessLicenseendDatetime)" 
				   tabindex="8" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.BusinessLicenseendDatetime)"
				   data-options="prompt:'营业执照期限结束日期',
								 label:'',
                                width:200,
								 required:true,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CountrySubdivisionCode)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CountrySubdivisionCode)" 
				   name="@Html.NameFor(model => model.CountrySubdivisionCode)" 
				   value="@Html.ValueFor(model => model.CountrySubdivisionCode)"
				   tabindex="9" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'所属辖区',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,12]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.PermitNumber)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.PermitNumber)" 
				   name="@Html.NameFor(model => model.PermitNumber)" 
				   value="@Html.ValueFor(model => model.PermitNumber)"
				   tabindex="10" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'道路运输经营许可证号码',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,50]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LegalPersonName)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LegalPersonName)" 
				   name="@Html.NameFor(model => model.LegalPersonName)" 
				   value="@Html.ValueFor(model => model.LegalPersonName)"
				   tabindex="11" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'法人',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,18]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.LegalPersonTelehoneNumber)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LegalPersonTelehoneNumber)" 
				   name="@Html.NameFor(model => model.LegalPersonTelehoneNumber)" 
				   value="@Html.ValueFor(model => model.LegalPersonTelehoneNumber)"
				   tabindex="12" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'法人联系电话',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,18]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.ContactName)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.ContactName)" 
				   name="@Html.NameFor(model => model.ContactName)" 
				   value="@Html.ValueFor(model => model.ContactName)"
				   tabindex="13" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'联系人',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,18]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.ContactMobileTelephoneNumber)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.ContactMobileTelephoneNumber)" 
				   name="@Html.NameFor(model => model.ContactMobileTelephoneNumber)" 
				   value="@Html.ValueFor(model => model.ContactMobileTelephoneNumber)"
				   tabindex="14" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'联系人移动电话',
								 label:'',
                                width:200,
								 required:true ,validType:'length[0,18]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.FaxNumber)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.FaxNumber)" 
				   name="@Html.NameFor(model => model.FaxNumber)" 
				   value="@Html.ValueFor(model => model.FaxNumber)"
				   tabindex="15" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'传真',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,18]'" />
			  				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.InternetPlusProperty)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.InternetPlusProperty)" 
				   name="@Html.NameFor(model => model.InternetPlusProperty)" 
				   value="@Html.ValueFor(model => model.InternetPlusProperty)"
				   tabindex="16" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'互联网识别代码',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,18]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.IsDeleteFlag)  </td>
	   <td> 
			   			  			   <label class="checkbox">
                 <input id="@Html.IdFor(model => model.IsDeleteFlag)"
                       name="@Html.NameFor(model => model.IsDeleteFlag)"
                       value="true" @(Model.IsDeleteFlag ? "checked=\"checked\"" : "")
                       tabindex="6"
                       type="checkbox" />
                <i></i>
            </label>
              				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.SynchronizationTime)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.SynchronizationTime)" 
			       name="@Html.NameFor(model => model.SynchronizationTime)" 
				   tabindex="18" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.SynchronizationTime)"
				   data-options="prompt:'同步时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.IsException)  </td>
	   <td> 
			   			  			   <label class="checkbox">
                 <input id="@Html.IdFor(model => model.IsException)"
                       name="@Html.NameFor(model => model.IsException)"
                       value="true" @(Model.IsException ? "checked=\"checked\"" : "")
                       tabindex="6"
                       type="checkbox" />
                <i></i>
            </label>
              				   </td>
	   	   </tr>
	   	    <tr>
      	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
				   tabindex="20" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				   data-options="prompt:'创建时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.CreatedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="21" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'创建用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedDate)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
				   tabindex="22" 
				   class="easyui-datebox" 
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				   data-options="prompt:'最后更新时间',
								 label:'',
                                width:200,
								 required:false,
								 formatter:dateformatter" />
			  				   </td>
	   	   <td class="control-label">   @Html.DisplayNameFor(model => model.LastModifiedBy)  </td>
	   <td> 
			   			  			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="23" 
				   class="easyui-textbox" 
				   type="text" 
				   data-options="prompt:'最后更新用户',
								 label:'',
                                width:200,
								 required:false ,validType:'length[0,20]'" />
			  				   </td>
	   	   </tr>
	   	        <tfoot>
        <tr>
        <tr>
    </tfoot>
</table>


<!--输出form表单界面-->
<!--========================================================================================-->
 </form>
</div>


<script type="text/javascript">
    //load data by foreign key
    function loadData(id,data){
         $('#company_form').form('load', data);
             }
    var $editform = $('#company_form');
    //save item
    function saveitem() {
         
        if ($editform.form('enableValidation').form('validate')) {
            var company = $editform.serializeJSON();
            var token = $('input[name="__RequestVerificationToken"]', $editform).val();

            $.ajax({
                    type: "POST",
                    url: "/Companies/Edit",
                    data: {
                        __RequestVerificationToken: token,
                        company:company
                    },
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                })
                .done(function (response) {
                    if (response.success) {
                        $.messager.alert("提示", "保存成功！");
                    } else {
                        $.messager.alert("错误", "保存失败！" + response.err, "error");
                    }
                    })
                .fail(function (response) {
                        $.messager.alert("错误", "保存失败！", "error");
                    });
        }
    }
    // cancel
    function cancelitem() {
        $('#detailswindow').window('close');
    }
    // reload
    function refreshitem() {
        $('#detailswindow').window('close');
    }
    


    

</script>


