﻿@model WebApp.Models.Company
 <!-- 输出form表单界面 -->
<fieldset>
    <div class="row">
        	    			<section class="col col-3">
           <label class="label">@Html.DisplayNameFor(model => model.Id) </label>
           <label class="input">
            <input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   placeholder="@Html.DisplayNameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   type="text" 
                   />
                 <b class="tooltip tooltip-bottom-right">Id</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Name) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
                   placeholder="@Html.DisplayNameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="1" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">企业名称</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.Address) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Address)" 
				   name="@Html.NameFor(model => model.Address)" 
                   placeholder="@Html.DisplayNameFor(model => model.Address)" 
				   value="@Html.ValueFor(model => model.Address)"
				   tabindex="2" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">企业注册地址</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.RegisteredCapital) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.RegisteredCapital)"
				   name="@Html.NameFor(model => model.RegisteredCapital)" 
                   placeholder="@Html.DisplayNameFor(model => model.RegisteredCapital)" 
				   value="@Html.ValueFor(model => model.RegisteredCapital)"
				   tabindex="3" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">注册资金</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.UnifiedSocialCreditldentifier) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.UnifiedSocialCreditldentifier)" 
				   name="@Html.NameFor(model => model.UnifiedSocialCreditldentifier)" 
                   placeholder="@Html.DisplayNameFor(model => model.UnifiedSocialCreditldentifier)" 
				   value="@Html.ValueFor(model => model.UnifiedSocialCreditldentifier)"
				   tabindex="4" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">统一社会信用代码</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.UnifiedSocialDatetime) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.UnifiedSocialDatetime)" 
			       name="@Html.NameFor(model => model.UnifiedSocialDatetime)" 
                   placeholder="@Html.DisplayNameFor(model => model.UnifiedSocialDatetime)" 
				   tabindex="5" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.UnifiedSocialDatetime)"
				    />
             <b class="tooltip tooltip-bottom-right">统一社会信用代码注册时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.BusinessScope) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.BusinessScope)" 
				   name="@Html.NameFor(model => model.BusinessScope)" 
                   placeholder="@Html.DisplayNameFor(model => model.BusinessScope)" 
				   value="@Html.ValueFor(model => model.BusinessScope)"
				   tabindex="6" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">经营范围</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.BusinessLicenseStartDatetime) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.BusinessLicenseStartDatetime)" 
			       name="@Html.NameFor(model => model.BusinessLicenseStartDatetime)" 
                   placeholder="@Html.DisplayNameFor(model => model.BusinessLicenseStartDatetime)" 
				   tabindex="7" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.BusinessLicenseStartDatetime)"
				    />
             <b class="tooltip tooltip-bottom-right">营业执照期限开始日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.BusinessLicenseendDatetime) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.BusinessLicenseendDatetime)" 
			       name="@Html.NameFor(model => model.BusinessLicenseendDatetime)" 
                   placeholder="@Html.DisplayNameFor(model => model.BusinessLicenseendDatetime)" 
				   tabindex="8" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.BusinessLicenseendDatetime)"
				    />
             <b class="tooltip tooltip-bottom-right">营业执照期限结束日期</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CountrySubdivisionCode) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CountrySubdivisionCode)" 
				   name="@Html.NameFor(model => model.CountrySubdivisionCode)" 
                   placeholder="@Html.DisplayNameFor(model => model.CountrySubdivisionCode)" 
				   value="@Html.ValueFor(model => model.CountrySubdivisionCode)"
				   tabindex="9" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">所属辖区</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.PermitNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PermitNumber)" 
				   name="@Html.NameFor(model => model.PermitNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.PermitNumber)" 
				   value="@Html.ValueFor(model => model.PermitNumber)"
				   tabindex="10" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">道路运输经营许可证号码</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LegalPersonName) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LegalPersonName)" 
				   name="@Html.NameFor(model => model.LegalPersonName)" 
                   placeholder="@Html.DisplayNameFor(model => model.LegalPersonName)" 
				   value="@Html.ValueFor(model => model.LegalPersonName)"
				   tabindex="11" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">法人</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LegalPersonTelehoneNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LegalPersonTelehoneNumber)" 
				   name="@Html.NameFor(model => model.LegalPersonTelehoneNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.LegalPersonTelehoneNumber)" 
				   value="@Html.ValueFor(model => model.LegalPersonTelehoneNumber)"
				   tabindex="12" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">法人联系电话</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ContactName) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.ContactName)" 
				   name="@Html.NameFor(model => model.ContactName)" 
                   placeholder="@Html.DisplayNameFor(model => model.ContactName)" 
				   value="@Html.ValueFor(model => model.ContactName)"
				   tabindex="13" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">联系人</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.ContactMobileTelephoneNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.ContactMobileTelephoneNumber)" 
				   name="@Html.NameFor(model => model.ContactMobileTelephoneNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.ContactMobileTelephoneNumber)" 
				   value="@Html.ValueFor(model => model.ContactMobileTelephoneNumber)"
				   tabindex="14" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">联系人移动电话</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.FaxNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.FaxNumber)" 
				   name="@Html.NameFor(model => model.FaxNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.FaxNumber)" 
				   value="@Html.ValueFor(model => model.FaxNumber)"
				   tabindex="15" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">传真</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.InternetPlusProperty) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.InternetPlusProperty)" 
				   name="@Html.NameFor(model => model.InternetPlusProperty)" 
                   placeholder="@Html.DisplayNameFor(model => model.InternetPlusProperty)" 
				   value="@Html.ValueFor(model => model.InternetPlusProperty)"
				   tabindex="16" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">互联网识别代码</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			  <section class="col col-3">
              <label class="label">@Html.DisplayNameFor(model => model.IsDeleteFlag) </label>
              <label class="checkbox">
                 <input id="@Html.IdFor(model => model.IsDeleteFlag)"
                       name="@Html.NameFor(model => model.IsDeleteFlag)"
                       value="true" @(Model.IsDeleteFlag ? "checked=\"checked\"" : "")
                       tabindex="6"
                       type="checkbox" />
                <i></i>
                <b class="tooltip tooltip-bottom-right">删除标志</b>
            </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.SynchronizationTime) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.SynchronizationTime)" 
			       name="@Html.NameFor(model => model.SynchronizationTime)" 
                   placeholder="@Html.DisplayNameFor(model => model.SynchronizationTime)" 
				   tabindex="18" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.SynchronizationTime)"
				    />
             <b class="tooltip tooltip-bottom-right">同步时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			  <section class="col col-3">
              <label class="label">@Html.DisplayNameFor(model => model.IsException) </label>
              <label class="checkbox">
                 <input id="@Html.IdFor(model => model.IsException)"
                       name="@Html.NameFor(model => model.IsException)"
                       value="true" @(Model.IsException ? "checked=\"checked\"" : "")
                       tabindex="6"
                       type="checkbox" />
                <i></i>
                <b class="tooltip tooltip-bottom-right">同步异常</b>
            </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedDate)" 
				   tabindex="20" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">创建时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="21" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">创建用户</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedDate)" 
				   tabindex="22" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">最后更新时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-3">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="23" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">最后更新用户</b>
			    </label>
            </section>
			  				 
	  
	    
	    </div>
</fieldset>

<!--========================================================================================-->
 


 <script type="text/javascript">
   var id=@Model.Id;
   

      
  

 </script>

