﻿@model WebApp.Models.Customer
 <!-- 输出form表单界面 -->
<fieldset>
    <div class="row">
        	    			<section class="col col-4">
           <label class="label">@Html.DisplayNameFor(model => model.Id) </label>
           <label class="input">
            <input id="@Html.IdFor(model => model.Id)" 
                   name="@Html.NameFor(model => model.Id)" 
                   placeholder="@Html.DisplayNameFor(model => model.Id)" 
                   value="@Html.ValueFor(model => model.Id)"
                   tabindex="0"   
                   type="text" 
                   />
                 <b class="tooltip tooltip-bottom-right">系统编号</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Name) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Name)" 
				   name="@Html.NameFor(model => model.Name)" 
                   placeholder="@Html.DisplayNameFor(model => model.Name)" 
				   value="@Html.ValueFor(model => model.Name)"
				   tabindex="1" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">企业名称</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.TradeType) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.TradeType)" 
				   name="@Html.NameFor(model => model.TradeType)" 
                   placeholder="@Html.DisplayNameFor(model => model.TradeType)" 
				   value="@Html.ValueFor(model => model.TradeType)"
				   tabindex="2" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">业务类型</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LegalPerson) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LegalPerson)" 
				   name="@Html.NameFor(model => model.LegalPerson)" 
                   placeholder="@Html.DisplayNameFor(model => model.LegalPerson)" 
				   value="@Html.ValueFor(model => model.LegalPerson)"
				   tabindex="3" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">法人</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.RegistrationNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.RegistrationNumber)" 
				   name="@Html.NameFor(model => model.RegistrationNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.RegistrationNumber)" 
				   value="@Html.ValueFor(model => model.RegistrationNumber)"
				   tabindex="4" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">纳税注册登记号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LinkMan) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LinkMan)" 
				   name="@Html.NameFor(model => model.LinkMan)" 
                   placeholder="@Html.DisplayNameFor(model => model.LinkMan)" 
				   value="@Html.ValueFor(model => model.LinkMan)"
				   tabindex="5" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">联系人</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.PhoneNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PhoneNumber)" 
				   name="@Html.NameFor(model => model.PhoneNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.PhoneNumber)" 
				   value="@Html.ValueFor(model => model.PhoneNumber)"
				   tabindex="6" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">联系电话</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Email) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Email)" 
				   name="@Html.NameFor(model => model.Email)" 
                   placeholder="@Html.DisplayNameFor(model => model.Email)" 
				   value="@Html.ValueFor(model => model.Email)"
				   tabindex="7" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">电子邮件</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Fax) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Fax)" 
				   name="@Html.NameFor(model => model.Fax)" 
                   placeholder="@Html.DisplayNameFor(model => model.Fax)" 
				   value="@Html.ValueFor(model => model.Fax)"
				   tabindex="8" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">传真</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.ServiceUser) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.ServiceUser)" 
				   name="@Html.NameFor(model => model.ServiceUser)" 
                   placeholder="@Html.DisplayNameFor(model => model.ServiceUser)" 
				   value="@Html.ValueFor(model => model.ServiceUser)"
				   tabindex="9" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">客服人员</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CustomerService) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CustomerService)" 
				   name="@Html.NameFor(model => model.CustomerService)" 
                   placeholder="@Html.DisplayNameFor(model => model.CustomerService)" 
				   value="@Html.ValueFor(model => model.CustomerService)"
				   tabindex="10" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">客服负责人</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Sales) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Sales)" 
				   name="@Html.NameFor(model => model.Sales)" 
                   placeholder="@Html.DisplayNameFor(model => model.Sales)" 
				   value="@Html.ValueFor(model => model.Sales)"
				   tabindex="11" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">业务员</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Payment) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Payment)" 
				   name="@Html.NameFor(model => model.Payment)" 
                   placeholder="@Html.DisplayNameFor(model => model.Payment)" 
				   value="@Html.ValueFor(model => model.Payment)"
				   tabindex="12" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">付款方式</b>
			    </label>
            </section>
			  				 
	  
	    
	        			  			<section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.PaymentDays) </label>
            <label class="input">
            <input id="@Html.IdFor(model => model.PaymentDays)"
				   name="@Html.NameFor(model => model.PaymentDays)" 
                   placeholder="@Html.DisplayNameFor(model => model.PaymentDays)" 
				   value="@Html.ValueFor(model => model.PaymentDays)"
				   tabindex="13" 
				   type="text" 
				   />
                 <b class="tooltip tooltip-bottom-right">账期(天)</b>
			    </label>
            </section>
              				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.BankName) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.BankName)" 
				   name="@Html.NameFor(model => model.BankName)" 
                   placeholder="@Html.DisplayNameFor(model => model.BankName)" 
				   value="@Html.ValueFor(model => model.BankName)"
				   tabindex="14" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">开户银行</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.BankAccount) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.BankAccount)" 
				   name="@Html.NameFor(model => model.BankAccount)" 
                   placeholder="@Html.DisplayNameFor(model => model.BankAccount)" 
				   value="@Html.ValueFor(model => model.BankAccount)"
				   tabindex="15" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">银行账号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.PaymentNumber) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.PaymentNumber)" 
				   name="@Html.NameFor(model => model.PaymentNumber)" 
                   placeholder="@Html.DisplayNameFor(model => model.PaymentNumber)" 
				   value="@Html.ValueFor(model => model.PaymentNumber)"
				   tabindex="16" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">结算单号</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.InvoiceTitle) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.InvoiceTitle)" 
				   name="@Html.NameFor(model => model.InvoiceTitle)" 
                   placeholder="@Html.DisplayNameFor(model => model.InvoiceTitle)" 
				   value="@Html.ValueFor(model => model.InvoiceTitle)"
				   tabindex="17" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">发票标题</b>
			    </label>
            </section>
			  				 
	  
	    
	                     <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CompanyId) </label>
            <label class="input">
			      @Html.DropDownListFor(model => model.CompanyId, ViewBag.CompanyId as List<SelectListItem>, htmlAttributes: new { @class = "select2" }) 
                 <b class="tooltip tooltip-bottom-right">所属公司</b>
			    </label>
            </section>
				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.Address) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.Address)" 
				   name="@Html.NameFor(model => model.Address)" 
                   placeholder="@Html.DisplayNameFor(model => model.Address)" 
				   value="@Html.ValueFor(model => model.Address)"
				   tabindex="19" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">地址</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.CreatedDate)" 
			       name="@Html.NameFor(model => model.CreatedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedDate)" 
				   tabindex="20" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.CreatedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">创建时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.CreatedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.CreatedBy)" 
				   name="@Html.NameFor(model => model.CreatedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.CreatedBy)" 
				   value="@Html.ValueFor(model => model.CreatedBy)"
				   tabindex="21" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">创建用户</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedDate) </label>
            <label class="input">
            <i class="icon-append fa fa-calendar"></i>
			<input id="@Html.IdFor(model => model.LastModifiedDate)" 
			       name="@Html.NameFor(model => model.LastModifiedDate)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedDate)" 
				   tabindex="22" 
				   class="datepicker" data-dateformat="dd/mm/yy"
				   type="text" 
				   value="@Html.ValueFor(model => model.LastModifiedDate)"
				    />
             <b class="tooltip tooltip-bottom-right">最后更新时间</b>
			    </label>
            </section>
			  				 
	  
	    
	        			              <section class="col col-4">
            <label class="label">@Html.DisplayNameFor(model => model.LastModifiedBy) </label>
            <label class="input">
			<input id="@Html.IdFor(model => model.LastModifiedBy)" 
				   name="@Html.NameFor(model => model.LastModifiedBy)" 
                   placeholder="@Html.DisplayNameFor(model => model.LastModifiedBy)" 
				   value="@Html.ValueFor(model => model.LastModifiedBy)"
				   tabindex="23" 
				    type="text" 
				   />
             <b class="tooltip tooltip-bottom-right">最后更新用户</b>
			    </label>
            </section>
			  				 
	  
	    
	    </div>
</fieldset>

<!--========================================================================================-->
 


 <script type="text/javascript">
   var id=@Model.Id;
   

      
  

 </script>

